@using Model
@model Pedido
@{
    ViewData["Title"] = "Carrinho";
}

<form class="form-horizontal" asp-action="addPedido" asp-controller="Pedido" method="POST">
    <input type="hidden" class="form-control" asp-for="Codigo" />
    <div class="form-group row">
        <label class="col-5 control-label my-2" for="Desc">Descrição</label>
        <div class="col-md-5">
            <input type="text" class="form-control my-2" asp-for="Descricao" />
        </div>
        <label class="col-5 control-label my-2" for="Desc">Data</label>
        <div class="col-md-5">
            <input type="date" class="form-control my-2" asp-for="Datapedido" />
        </div>
        <label class="col-5 control-label my-2" for="Valorpedido">Valor</label>
        <div class="col-md-5">
            <input type="number" class="form-control my-2" step="any" asp-for="Valorpedido" />
        </div>
    </div>
    <button type="Submit" class="btn btn-success">Enviar</button>
</form>