@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Todas as funções e códigos aqui desenvolvidos foram feitos por Israel Péres de Oliveiros Leandro</p>
<p>Exceções são as frameworks e componentes de card e pesquisa</p>
